<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzoKjqevdaIDJ1jYRU_on7eSNXrp6LRi8</string>
	<key>GCM_SENDER_ID</key>
	<string>1084072414990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daytask</string>
	<key>PROJECT_ID</key>
	<string>daytask-a2744</string>
	<key>STORAGE_BUCKET</key>
	<string>daytask-a2744.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084072414990:ios:ed99bfa5670e286b05d15f</string>
</dict>
</plist>